#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-options {
  display: flex;
  justify-content: space-around;
}

.App-options span {
  padding: 20px;
  margin: 0 20;
  cursor: pointer;
}